{%extends 'base.html' %}

{%block title_pagina%}
<title>Acerca de nosotrxs</title>
{%endblock title_pagina%}

{%block mi_contenido%}
<p>
    <p> Nuestro equipo se conforma de Raúl Galeana y Yesica Perez, ambos estudiantes de CoderHouse, en el curso de Python. </p>
    <p> En nuestro proyecto, creamos una página de una guardería de mascotas. </p>
    
    <a class="navbar-brand" href="https://github.com/raul-galeana/Entrega1-GaleanaPerez">Ir a la repo en Github</a>
</p>
{%endblock mi_contenido%}
