{%extends 'base.html'%}

{%block title_pagina %}
<title> Ver Mascotas </title>
{% endblock title_pagina %}

{%block mi_contenido%}
<li class="nav-item"><a class="nav-link" href={% url 'alta_mascota' %}>Alta Mascota</a></li>
<p> Listado de mascotas: </p>

<form action={% url 'ver_mascotas' %} method="GET">
    {{formulario}}
    <button>Buscar</button>
</form>
<p>
    {% for mascota in mascotas %}
    <li>
        {{mascota}}
    </li>
    <a href={% url 'editar_mascota' mascota.id %}>Editar</a>
    <a href={% url 'eliminar_mascota' mascota.id %}>Eliminar</a>
    {%endfor%}
</p>
{%endblock mi_contenido %}